[2019-05-08 18:48] rwjblue opened #1 "Do not update changelog file during a dry run."
Based on the logic here:

https://github.com/release-it/conventional-changelog/blob/6b84de1bf3d495d8f4551c74351ad1055d220039/index.js#L58-L65

When `infile` is specified, the file is always updated regardless of the status of `this.global.isDryRun`.

[2019-05-08 18:49] rwjblue commented on #1
FWIW, I implemented the dry run detection here:

https://github.com/rwjblue/release-it-lerna-changelog/blob/a7ed4a6101e622d5b71156c92b5af647e94e98a6/index.js#L73-L78

[2019-05-14 21:01] webpro commented on #1
Thanks, @rwjblue! Should be fixed in [v1.0.1](https://github.com/release-it/conventional-changelog/releases/tag/1.0.1)

[2019-05-14 21:01] #1 closed

[2019-05-24 07:48] LeBenLeBen opened #2 "Allow to override bump"
Since release-it 12, version number or bump given manually, like `release-it patch` or `release-it 1.0.0` is ignored when using conventional changelog.

As said in https://github.com/release-it/release-it/issues/526 this is a feature that can be useful sometimes when for some reasons you want to bypass the auto bump and release a specific version.

I'd love to see that feature back 🙇

[2019-05-24 08:27] LeBenLeBen opened #3 "How to run a command after the changelog is generated?"
I recently upgraded from version 10 and I got an issue with the order in which things are done. Here’s my config:

[code]

In previous release-it versions, the bump and the changelog used to be done before my `npm run build` command was run. It was perfect for me as I use the changelog in this command. Now the changelog gets written after the build, which cause the changelog of the previous versio

[2019-05-24 20:31] webpro commented on #3
Unfortunately release-it v11 doesn't turn out well for your use case. You can still use `scripts.beforeStage` but indeed the changelog isn't generated available yet.

The solution would be to create a plugin to do something at that point (using the `plugin.release` method). This could be as simple as moving shell a script into `this.exec` commands, but obviously this depends on what "npm run build

[2019-05-24 20:31] #2 closed

[2019-05-24 20:32] webpro commented on #2
It's back in [v1.1.0](https://github.com/release-it/conventional-changelog/releases/tag/1.1.0) (w/ release-it v12.2.1)

[2019-05-27 22:48] webpro commented on #3
@LeBenLeBen As I was working on https://github.com/release-it/release-it/pull/529, this might be a solution for your use case as well. Please see the other issue.

Not sure exactly what you need, but something like `hooks["before:git:release"]` (or `hooks["after:conventional-changelog:beforeRelease"]`) sounds about right to do the build.

What do you think? Could you please try `npm install releas

[2019-06-05 08:43] LeBenLeBen commented on #3
Amazing, it works perfectly by hooking it after the conventional changelog task! 🙇

[2019-06-05 08:43] #3 closed

[2019-06-05 08:45] webpro commented on #3
Great! Thanks for your feedback. I'll be releasing v12.3.0 soon :)

[2019-10-20 19:26] hernanmd opened #5 "npm install creates a big package.json and node_modules directory"
My context is to use the conventional-changelog in a non-npm project (actually a bash project). Running the command to install the module creates a 127Kb package.json file, and a node_modules directory with 327 sub-directories. Is this expected?

[code]

[2019-10-23 11:25] webpro commented on #5
The `package.json` should only be small, e.g.:

[code]

The lockfile (`package-lock.json`) can be large indeed, like the number of directories in `node_modules`. All of this is handled by npm. The [dependencies of this project](https://github.com/release-it/conventional-changelog/blob/master/package.json) also have sub-dependencies, etc.

[2019-10-24 00:24] hernanmd commented on #5
Thank you, for now I added a minimal package.json as you suggested, then kept the hook

[code]

and removed the plugin code

[code]

In my release-it.json

I still need to understand the difference between

[code]

and

[code]

For a humble feedback I suggest to make clear in the docs for non-JS projects since not everybody work daily with JS and it could be not obvious what/where to add artifacts

[2019-10-25 11:33] webpro commented on #5
The `git.changelog` command should return the Git changelog and this will be used for two things:

* Show on the command-line the changelog to help selecting a next version
* Use it as release notes when doing a GitHub or GitLab release (unless e.g. `github.releaseNotes` is used to override this).

The hook command `auto-changelog -p` is executing [auto-changelog](https://www.npmjs.com/package/aut

[2019-10-25 11:33] #5 closed

[2019-12-03 07:14] cle-skov-dk opened #6 "How to use --commit-path"
Hi,

I am trying to use the flag --commit-path as described in conventional-changelog:
![image](https://user-images.githubusercontent.com/49151515/70028338-b264ed00-15a4-11ea-9024-d4ba4c9ce9dc.png)

How should I use this flag? The docs say to pass it verbatim but doing so in my .release-it.json doesn't seem to work since it adds entries in the changelog from other folders than the ./src-folder:
![

[2019-12-03 08:19] webpro commented on #6
By convention I expect this to be `commitPath`

[2019-12-03 08:48] cle-skov-dk commented on #6
Hi @webpro,

Thanks for getting back to me.
I've also tried with ```commitPath``` without any effect. My release script looks as follows:

[code]

And my .release-it.json config looks as follows:
[code]

The generated changelog contains at least 2 entries with features (feat) that comes from other folders than the ./src-folder.

[2019-12-03 10:03] webpro commented on #6
I don't know `conventional-changelog` that well. I suggest to look into their docs/source code (the programmatic API, not the CLI) to see what options/arguments it takes.

Note that a dry run does not write anything.

[2020-04-21 22:11] b12k opened #7 "Problem with changelog generation and version bumping"
Hello.
I'm facing some problems with release Changelog generation and sometime version bumping.
I'm using release-it in multiple projects and have some problems, which I think are related to conventional-changelog plug-in.

### Problem #1:
Every time we do a release - commits from all previous releases are mentioned in new release.
It affects version bumping.
[code]

### Problem #2:
Example repo:

[2020-04-22 11:11] webpro commented on #7
Thanks for raising the issue. I've just released [v1.1.3](https://github.com/release-it/conventional-changelog/releases/tag/1.1.3) that should fix things and be more stable.

[2020-04-22 11:11] #7 closed

[2020-04-26 21:55] ndeitch opened #8 "How to pass config for presets"
Hi,

I'm using `conventionalcommits` preset, and I want to pass [`config.types`](https://github.com/conventional-changelog/conventional-changelog/blob/master/packages/conventional-changelog-conventionalcommits/writer-opts.js#L162) for it, how can I do that?

How I tried:

[code]

[code]

None of this puts feat commits under bug fixes (I know it doesn't make any sense, it's just for trying)

Thanks

[2020-05-05 14:22] ndeitch commented on #8
Got it:

[code]

[2020-05-05 14:22] #8 closed

[2020-06-05 20:41] tim-lai opened #9 "v1.1.1 is a BREAKING change from v1.1.0"
Hello,

We currently used `release-it@12.4.3` and `@release-it/conventional-changelog@1.1.0`. We release against Node 8.11.4. We also test against Node v10.5.

`release-it@12.6.3` and `@release-it/conventional-changelog@1.1.4` are both BREAKING CHANGES in our release process (Node 8).

`@release-it/conventional-changelog@1.1.4` requires `release-it@13.5.3`, which itself requires Node v10.6 or grea

[2020-06-15 11:18] rchl opened #10 "Should not include release-it as dependency"
This package includes `release-it` as a dependency:
https://github.com/release-it/conventional-changelog/blob/37c6683651df6178ba22606c36b7b3a293043364/package.json#L37

I believe it shouldn't do that and instead have it in `devDependencies`.

The reasoning is that this is a plugin for `release-it` so `release-it` must be installed separately anyway and this makes it so that there are two different

[2020-07-21 13:06] maniax89 opened #11 "Allow overriding gitRawCommitOps"
As part of the arguments passed to conventional-changelog -> https://github.com/release-it/conventional-changelog/blob/master/index.js
[code]

it doesn't let us override things like `from` in the 3rd argument for gitRawCommitOps https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-core#gitrawcommitsopts

The use-case would be in order to spec

[2020-07-25 10:47] webpro commented on #11
There is already a way to pass arguments, for example:

[code]

But I saw that yargs-parser expands to camel case by default (resulting e.g. `plugins.releaseIt.conventionalChangelog`, which would throw is this plugin does not exist), so I just removed that from release-it in [v13.6.6](https://github.com/release-it/release-it/releases/tag/13.6.6).

So with release-it v13.6.6 you could give this a s

[2020-08-18 09:50] rchl commented on #10
@webpro Would you say this is a valid issue?

[2020-08-18 10:55] webpro commented on #10
Maybe... looking at https://docs.npmjs.com/files/package.json#peerdependencies:

This plugin does a direct `require('release-it')`. So I think it's the recommended way to have it as a regular dependency. I totally agree there should not be two versions of release-it installed, so I'm happy to be convinced otherwise. Maybe there are examples that successfully use `peerDependencies` (or any other so

[2020-08-18 11:08] rchl commented on #10
`peerDependencies` is a perfect solution for this case since this plugin requires `release-it` to work but doesn't want to decide the specific version of it (within a given major range at least).

That's one of the use cases of `peerDependencies`, I'd say.

One popular example of similar setup is `type-graphql` where it requires a `graphql` dependency to work properly but doesn't depend on it itse

[2020-08-18 12:04] webpro commented on #10
Alright, you've convinced me, thank you. I'm working on a major update for release-it (v14) with a breaking change for plugins, so it's a good moment to include this change as well. Leaving this ticket open until it's done.

[2020-08-20 18:10] jsamr opened #12 "skipUnstable does nothing"
First of all, thanks a lot for this great library! The README.md states (emphasis mine):

However, changelog is still produced for pre-releases (tested with rc and alpha). This is the relevant part of my package.json

[code]
The option is [documented here](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog-core#skipunstable). Result:
![2020

[2020-09-03 20:31] webpro commented on #10
The plugins have been updated to use release-it (v14) as a peer dependency. Thanks again for your ideas, @rchl!

[2020-09-03 20:31] #10 closed

[2020-09-03 20:32] webpro commented on #6
Closing due to inactivity.

[2020-09-03 20:32] #6 closed

[2020-09-03 20:35] webpro commented on #9
Sorry for any inconvenience, I didn't realize this at the time. I'll do better next time.

[2020-09-03 20:35] #9 closed

[2020-10-11 12:22] webpro commented on #11
Closing this due to inactivity

[2020-10-11 12:22] #11 closed

[2020-10-11 12:36] webpro commented on #12
Hmm I would think the options would end up as first argument for `conventionalChangelogCore(options)`. Maybe you can run a `DEBUG=release-it:* release-it [...]` run, this should give more output and also pass the `debug` option to conventional-changelog.

[2020-10-11 12:43] jsamr commented on #12
@webpro After a little lookup, I think the issue is upstream: https://github.com/conventional-changelog/conventional-changelog/issues/675

[2020-10-14 08:05] garrappachc opened #13 "Missing window-size and detect-repo-changelog dependencies"
`window-size` and `detect-repo-changelog` are missing in the package.json, resulting in errors when exectuing `release-it`. Installing both packages manually fixes the problem.

[2020-10-14 09:35] webpro commented on #13
Did you update release-it to v14?

[2020-10-14 09:38] garrappachc commented on #13
Yes, it's at version 14.1.0 right now.

[2020-10-14 09:45] webpro commented on #13
I think somehow your node_modules is borked. Maybe re-install everything?

[2020-10-15 15:58] garrappachc commented on #13
Just reinstalled everything: removed `node_modules` and run `npm i`. No luck, still the same problem.

[2020-10-15 18:47] garrappachc commented on #13
Here's the log in case you need it:
[code]

[2020-10-15 18:52] garrappachc commented on #13
Interesting... `node_modules/@release-it/conventional-changelog/node_modules/release-it/package.json` yields version 13.7.1. But I've got `"release-it": "14.1.0",` in my `package.json`: https://github.com/tf2pickup-pl/client/blob/master/package.json
Any idea?

[2020-10-16 15:49] webpro commented on #13
Both release-it and the plugin don't use a lockfile (`package-lock.json`), so I don't issue in the dependency/versioning. Maybe you have a lockfile? Or somehow (npm) caching is behaving oddly?

[2020-11-30 15:27] sarnikowski opened #14 "changelog does not update properly when using CalVer scheme"
I'm using the following configuration:
[code]
However my CHANGELOG is not updated as expected. Here is the relevant output from my pipeline:
[code]
Since it doesn't resolve the diff name, it seems that is simply copies all the features from the previous release. Notice that the feature list is populated correctly with commit hash references.

I have boostrapped the `CHANGELOG.md` file to have the

[2020-11-30 19:32] webpro commented on #14
Personally I have never tried or tested this. In theory it should work, provided the `getIncrementedVersion` of the CalVer plugin runs before the other one, and the conventional-changelog generator supports the provided non-semver tags.

Could you please do a debug run and see the order in which the plugins are running?

[code]

Maybe we have something to work with. Guess the (first) issue is in t

[2020-11-30 21:37] sarnikowski commented on #14
Sure thing. Here is the output from a dry-run (I've masked sensitive stuff using \<MASKED>):
[code]

The increment seems to be undefined in all steps, including in this line `  release-it:conventional-changelog   increment: undefined,`

Sounds good, much appreciated !

[2021-02-09 11:59] sarnikowski commented on #14
@webpro Did you have a chance to look at this ? I'm currently handling releases manually, so just to know if this is far out. Thanks !

[2021-02-09 17:37] b12k opened #15 "Overriding preset's default configuration"
Hello.
First of all thank you for a great tool! 👌

I'm trying to pass some properties to override `conventinalcommits` default config.
I've found this closed issue: https://github.com/release-it/conventional-changelog/issues/8
But unfortunately that solution ~~doesn't~~ works incorrectly for me. Am I doing something wrong?

`package.json:`
[code]

UPDATE:
I created multiple commits;
- Feature comm

[2021-02-09 22:49] b12k commented on #15
Looks like something wrong with my git configuration. I will close the issue.

[2021-02-09 22:49] #15 closed

[2021-02-09 23:29] b12k opened #16 "Only last commit made has effect on verison bump and written to changelog"
Hello.
In my `release-it` + `@release-it/conventional-changelog` setup only last commit made is affecting version bump and written to the changelog.
Also only last commit is taken in to consideration when bumping a version.
So if:
- v0.1.0
- commit `feat`
- commit `fix` _<= this one used_
- v0.1.1 (not v0.2.0)

Example repo: https://github.com/b12k/gh-action-release-it

This repo uses github actio

[2021-02-18 17:29] brandondurham opened #17 "Possible to use @release-it/conventional-changelog for only CHANGELOG generation and not automatic version bump?"
I have the `@release-it/conventional-changelog` plugin added which of course handles the version bump automatically as well as CHANGELOG generation. I would still like to select the version manually, as you can without this plugin, but I’m unsure if there is a way to disable that particular step.

[code]

Is it possible to disable/skip the `conventional-recommended-bump` step?

[2021-02-22 21:34] webpro commented on #16
Not sure about the issue here. The `options` for the plugin are passed verbatim to the [conventional-recommended-bump](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-recommended-bump) function.

I have just updated the dependencies and added more debug output in v2.0.1 of this plugin. However, I'm surprised not to see debug output from this plugi

[2021-02-24 16:49] b12k commented on #16
I did an update of the repo

[2021-02-24 20:11] b12k commented on #16
I found a problem.
It's not in `release-it` or its plugins.

When creating CI with Github Actions using `actions/checkout@v2` do not forget to explicitly set `fetch-depth: 0`. It is `1` by default. So it means that ONLY last commit made will be fetched.

[code]

Thank you @webpro for an awesome tool!

[2021-02-24 20:12] #16 closed

[2021-02-24 20:46] webpro commented on #16
Thanks @b12k! Glad you figured it out. I've added a comment to the docs on both this plugin and release-it itself.

[2021-04-19 05:20] navono commented on #17
@brandondurham
I have the same requirement, Do you have any solution now?

[2021-05-21 00:20] shadowgate15 opened #19 "commits not making it into changelog"
There are no commits showing up in changelog when doing a release.

You can see this here: https://github.com/abacollection/abacollection/releases/tag/0.16.3

The project is set to use `preset: angular`.

[2021-05-25 17:05] shadowgate15 commented on #19
nevermind... you have to actually follow the commit protocols...🤦‍♀️

[2021-05-25 17:05] #19 closed

[2021-06-06 09:18] webpro commented on #12
Closing this issue, as the issue is likely upstream. Feel free to re-open or raise another issue.

[2021-06-06 09:18] #12 closed

[2021-06-06 09:19] #13 closed

[2021-06-06 09:51] webpro commented on #17
Yes, please upgrade to v3 (depends on release-it v14.8) and set `ignoreRecommendedBump: true`

[2021-06-08 21:18] TheRealWaldo opened #20 "High Severity Security Alert CVE-2021-33623"
@webpro just came across a high severity vulnerability notice from my Dependabot instance:

[code]

[code]

See https://github.com/TheRealWaldo/release-it/security/dependabot/package-lock.json/trim-newlines/open

[2021-06-09 21:12] TheRealWaldo commented on #20
Looks like this may be fixed in https://github.com/conventional-changelog/conventional-changelog/pull/809 but will require updates through the chain.

[2021-06-13 10:44] webpro commented on #20
Thanks for the report. Since this package does not use CLI functionalities (meow) from either conventional-changelog or conventional-recommended-bump, I guess this is not relevant here.

[code]

[2021-06-13 11:39] #17 closed

[2021-06-23 12:59] ivandov opened #22 "Ignore version bump for non-conventional commits"
In most conventions supported with `conventional-changelog`, there are commit types that should not trigger a version bump.

For example, when using the `angular` or `conventionalcommits` `preset`, version bumps should only be applicable if using commits that begin with `fix`, `feat`, or other types that include a `!` to signify a `BREAKING CHANGE`.

For commit messages that either do not conform

[2021-06-29 14:00] ivandov opened #23 "Unacceptable kind of an object to dump [object Undefined]"
When attempting to use the `conventional-changelog` plugin in a newly created repo with no existing versions in `git tags`, `conventional-changelog` fails to properly set an initial version of `0.0.1` that should be provided by the `release-it` core `bump` module.

[code]

To get around this error, an initial version **must** be pushed with `release-it -i`. Then all following `conventional-changel

[2021-07-10 17:04] ajaykumar97 opened #24 "Cannot read property 'ignoreRecommendedBump' of undefined"
I am trying to use this plugin with `release-it` to auto-generate the change-logs but when I tried to run the `release-it patch` script, I am getting:

[code]

`.release-it.json` file content:

[code]

Dependencies versions:
"@release-it/conventional-changelog": "^3.0.1",
"release-it": "^14.6.2"

[2021-07-10 22:24] webpro commented on #24
There should have been some error or warning from npm, as you need at least release-it v14.8.0 with that version of the conventional-changelog plugin.

[2021-07-11 04:29] ajaykumar97 commented on #24
It worked after I reinstalling the `release-it` with version `14.10.0`. Thanks 👍🏼 .
It will be more helpful if the supported `release-it` version with the respective `conventional-changelog` version is listed in the main Readme file 🙂 .

[2021-07-11 04:29] #24 closed

[2021-07-12 14:52] dmedinag commented on #6
remove the "./" prefix of your path and it should work :)

[2021-07-14 18:53] richabharti1 opened #25 "Error when using conventional-changelog in existing project"
I am able to make a release without a conventional-changelog but when I add conventional changelog to a git repo, I get the below error. This error goes away if I remove `.git` folder and create a new repository.

[code]
In release-it.js I have written the following code:
[code]

[2021-07-14 20:05] webpro commented on #22
The options provided to this plugin are sent to its underlying dependency: https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-recommended-bump#readme

However, at first glance I don't see an option for what you are trying to achieve. But maybe it's standard behavior?

[2021-07-14 20:07] webpro commented on #23
I agree release-it or this plugin should provide a solution here.

[2021-07-14 20:10] webpro commented on #25
Probably `v4.0.1` was not a tag in the repo. Not sure where it came from, though. Can you provide any more details?

[2021-07-16 19:00] ivandov commented on #22
Right, my experience here was from using `semantic-release` and how it would ignore version bumps unless commit messages actually matched the criteria outlined in the convention specified.

[2021-07-19 14:11] onikienko commented on #25
In case someone will have a similar issue.

We worked together with @richabharti1 on this issue. We found that in our git log we have one commit message which contains the words "tag: v4.0.1" in the message body. It's just to mention the tag from another repo.  For later reference.

Looks like `git-raw-commits` tries to find this tag in our repo. And crashes on this step because we do not have suc

[2021-08-10 06:14] #25 closed

[2021-08-10 06:25] #20 closed

[2021-08-12 18:58] TheRealWaldo opened #26 "'Cannot read property 'replace' of undefined'"
Get 'Cannot read property 'replace' of undefined' when run programmatically.  Setting with 'git: false'.

A little back-searching, it seems to be tagTemplate that is undefined in getChangelogStream.

Rolling back to 3.0.1 works.

[2021-08-13 05:11] webpro commented on #26
Thanks @TheRealWaldo. Should be fixed it in v3.1.1. Although, if I may ask, I wonder in which scenario you would use this plugin with `git: false`?

[2021-08-13 15:20] TheRealWaldo commented on #26
Primarily for CI/CD automation;

The release-it git plugin fails on a pull request workflow (always thinks there is zero commits and dies with a fatal on a git command), but we need to run it to verify the GitHub action (and release-it) will still work.

The second case is that we have a two step release process, first we bump the version, sometimes rebuild (depending on the project) then we test

[2021-08-13 16:00] TheRealWaldo commented on #26
@webpro latest update fails security scan; looks like a bad .replace

---------

Sanitizing untrusted input is a common technique for preventing injection attacks such as SQL injection or cross-site scripting. Usually, this is done by escaping meta-characters such as quotes in a domain-specific way so that they are treated as normal characters.

However, directly using the string replace method to

[2021-08-13 16:58] TheRealWaldo commented on #26
@webpro that security issue might be an upstream change; aside from some redundant escaping, I can't see an obvious problem in the recent changes.

[2021-08-13 17:25] TheRealWaldo commented on #26
@webpro  strange behavior now, that didn't exist before:

- The changelog includes the previous version
- The GitHub release plugin updates the previous release with the current release notes, and the new release version, and does not create a new release, effectively destroying release history

-------
  Using --no-increment with --github.release is deprecated. Add --github.update in release-it v

[2021-08-14 15:35] webpro opened #28 "Behavior re. GitHub release update with conventional-changelog"
@webpro  strange behavior now, that didn't exist before:

- The changelog includes the previous version
- The GitHub release plugin updates the previous release with the current release notes, and the new release version, and does not create a new release, effectively destroying release history

-------
  Using --no-increment with --github.release is deprecated. Add --github.update in release-it v

[2021-08-14 15:36] webpro commented on #28
Can't reproduce this, @TheRealWaldo. Is there a repo I can use to reproduce and/or configuration? Maybe a `DEBUG=release-it:* release-it [...]` run reveals interesting logs?

[2021-08-14 15:42] TheRealWaldo commented on #28
@webpro take a look at https://github.com/TheRealWaldo/release-it

I won't have time to play with it until Monday, but it does seem to be introduced with the latest major.  This is again with the two step process I described earlier.

[2021-08-15 09:41] LastDragon-ru opened #29 "`gitRawCommitsOpts` support"
By default `conventional-changelog` doesn't include merge commits, this can be fixed via `gitRawCommitsOpts: {merges: true}` (tested on the latest version), unfortunately, there is no way to set this option.

![image](https://user-images.githubusercontent.com/1329824/129473697-c69bce76-8cd6-4afa-9bd0-86742906f053.png)

[2021-08-15 10:35] webpro commented on #29
It is now in [v3.2.0](https://github.com/release-it/conventional-changelog/releases/tag/3.2.0) :)

[2021-08-15 10:35] #29 closed

[2021-08-15 10:48] LastDragon-ru commented on #29
How fast 😁 Thank you!

![image](https://user-images.githubusercontent.com/1329824/129475909-aae83c24-cfcf-4e79-a67b-d68e2d4ffe58.png)

[2021-08-15 12:31] webpro commented on #26
As I think the original issue is fixed, I'm going to close this issue.

[2021-08-15 12:31] #26 closed

[2021-08-15 12:32] webpro commented on #23
There's a solution in release-it core, so I'm going to close this issue.

[2021-08-15 12:32] #23 closed

[2021-08-16 22:41] TheRealWaldo commented on #28
@webpro with debug;

[code]

[2021-08-17 14:05] rondymesquita opened #31 "Inform parseOpts and writerOpts"
Hi, this is not an issue itself. It is more like a question.

How can I inform both parseOpts and writerOpts.
I see that conventional-changelog-core have an API like `conventionalChangelogCore([options, [context, [gitRawCommitsOpts, [parserOpts, [writerOpts]]]]])`, and I would like to pass some parameters to writerOpts like:
[code]
so I can group commits by scope instead of type by default.

Thank

[2021-08-17 14:22] webpro commented on #31
That's currently not possible. It's a bit of a coincidence I guess, but if you look at the last 5 commits of this repo, you'll find `context` and `gitRawCommitsOpts` were just added. So feel free to add the options you need in the same way in a PR and I'll be happy to merge.

[2021-08-17 14:27] rondymesquita commented on #31
Oh! Good to know! I will prepare the code and push it soon! Thanks for the feedback!

[2021-08-18 14:28] rondymesquita commented on #31
Hi @webpro , I have opened a PR for this change.
https://github.com/release-it/conventional-changelog/pull/32

[2021-08-20 05:29] #31 closed

[2021-08-20 06:18] webpro commented on #28
The issue seems to be that "suddenly" the `version` is unexpectedly set to `0.7.0`. That seems to be caused by the bumper plugin that reads this version from the `VERSION` file (just before generating the changelog), which is apparently out of sync. Also the GitHub release notes it tries to update were already out of sync (version does not match tag), potentially from the same issue in the previou

[2021-08-23 16:56] TheRealWaldo commented on #28
@webpro can you clarify what you mean by 'out of sync'?

At this stage, because of the two-step process (bump in the pull request, then after the pull request is merged, release), it's expected that:

1) There is not yet any GitHub release, except for the one preceding this release
2) There is not yet any tag, except for the one preceding this release
3) The VERSION file has the new release versio

[2021-08-28 21:51] matatk opened #33 "Preset's `header` option not being passed through?"
Thanks for this helpful plugin :-). I think I've set the `header` option for the preset in the correct place, but no (`<h1>`) header is written to the changelog file. This happens regardless of whether this is the first release (with no changelog already) or whether there has already been a release.

[code]

[2021-10-06 11:43] thet opened #35 "writerOpts: Cannot use readFile to pass a hbs template to writerOpts."
Insead of just passing a string containg the whole template to ``writerOpts.commitPartial`` I would like to read a template file and pass it's contents to it.

I tried with node's async ``fs.promises.readFile`` method, but failed.
I did a top-level await and did set the whole package.json of my project as ``{ "type": "module" }`` which failed.
And I tried the code below, also failing because the c

[2021-10-07 12:37] webpro commented on #33
Assuming you're using the latest version of the plugin? Please use `DEBUG=release-it:* release-it [...]` for a better understanding of what's going on and what eventually gets passed to the underlying dependency.

[2021-10-16 18:23] matatk commented on #33
Hi @webpro. I am running version 14.11.6 of release-it and version 3.3.0 of the plugin (the latest). Thanks for the debug command line. I found some interesting stuff, in that it does appear that the plugin is receiving and passing the option along. First, here's where it picks up the config:

[code]

Later, it still has that `header` setting:

[code]

But the generated changelog still doesn't hav

[2021-11-17 01:19] thet opened #37 "parserOpts not always passed to conventional-commits-parser"
My config for the ``conventionalcommits`` preset includes a commit type "breaking" which will then write a "Breaking Changes".
I was wondering why the recommended bump wasn't a major version with commits with that type.
Then I found out that a major level release is recommended when the commit contains a note (See: https://github.com/conventional-changelog/conventional-changelog/blob/840d139c40a2c

[2021-11-17 01:21] thet commented on #37
I also found out that my original problem described in https://github.com/release-it/release-it/issues/833 could be solved by using the config option ``ignoreRecommendedBump`` as described here: https://github.com/release-it/conventional-changelog#ignorerecommendedbump

[2021-11-19 08:30] lpreterite commented on #33
I have the same problem.

This plug-in just inserts the changlog produced by the conventional-changelog into the file. For example, after setting the header configuration and taking effect, the effect obtained is not ideal.

like this:

[code]

You can see me here for details: https://github.com/release-it/conventional-changelog/pull/18

[2021-11-19 09:25] lpreterite opened #38 "ConventionalChangelog fails after release-it 14.11.5"
ConventionalChangelog fails after release-it 14.11.5

Using @release-it/conventional-changelog under the latest version of release-it (14.11.7) found that the CHANGELOG record lost the version information, like this:

[code]

Comparing the two versions, it is found that the plug-in cannot get the version number.

It is shown in [release-it/lib/tasks.js](https://github.com/release-it/release-it/com

[2021-11-20 07:20] webpro commented on #37
I'm a bit surprised it gets there three times and that the second time the config is being applied.

Looking at this plugin's code, it makes sense it's applied only once: https://github.com/release-it/conventional-changelog/blob/20bf5dccdc1d3f0f4e64c0c6750b4598984d7780/index.js?_pjax=%23js-repo-pjax-container%2C%20div%5Bitemtype%3D%22http%3A%2F%2Fschema.org%2FSoftwareSourceCode%22%5D%20main%2C%20%

[2021-11-20 07:31] #38 closed

[2021-11-20 07:32] webpro commented on #38
Thanks @lpreterite! Reverted this change right away in release-it v14.11.8

[2021-11-20 07:34] webpro commented on #37
You may also have been bitten by #38 (which was just fixed in the latest release-it)

[2021-11-25 11:18] beata opened #39 "Duplicated `# Changelog` header in the updated `infile`"
relase-it config
[code]

The generated `infile`(e.g. Changelog.md) would have multiple `# Changelog` headers like this:
[code]

Generally, we want only one `h1` in a document but this behavior cannot be achieved through configuration because `writeChangelog()` would always prepend new changelog to the `infile`:
[code]

When`infile` already has `# Changelog` and changelog has another `# Changelog`.

[2021-12-22 16:19] anthonyma94 commented on #14
I'm currently having the same issue, is there a fix for this?

[2022-01-14 08:02] busyhe opened #41 "Can remove duplicated title in releases and tag, it's not beautiful"
![image](https://user-images.githubusercontent.com/17348825/149472412-d6223101-1862-4dc3-9342-aa401d93d13a.png)

[2022-01-16 12:30] #35 closed

[2022-02-25 05:51] skarthikeyan96 opened #43 "Bumping up the conventional-recommended-bump to address CVE-2021-23425"
Hello,

@release-it/conventional-changelog package still uses the version of conventional-recommended-bump which is prone to security vulnerability. Can you please address the security issue.

https://github.com/advisories/GHSA-38fc-wpqx-33j7

[2022-04-05 14:41] alex-fournier opened #46 "Missing separator (newline) when prepending content in changelog file"
Hello !

Since [v4.2.0](https://github.com/release-it/conventional-changelog/releases/tag/4.2.0), there is no more newline between the newly prepended changelog and the previous changelog, resulting to something like this:

[code]

Here is my plugins config in `.release-it.json`:

[code]

[2022-04-08 09:22] thet commented on #46
same here

[2022-04-08 10:17] thet commented on #46
If you want to stay on 4.2.0, this could be a quickfix:

.release-it.js:
[code]
header-template.hbs:
[code]

This does intend the previous changelog header entry at one level, which is currently acceptable for me.

[2022-04-15 00:33] #46 closed

[2022-04-15 00:34] webpro commented on #46
Hopefully it's fixed in [v4.3.0](https://github.com/release-it/conventional-changelog/releases/tag/4.3.0), can you please confirm

[2022-04-15 00:34] webpro commented on #39
This should be fixed by now indeed.

[2022-04-15 00:34] #39 closed

[2022-04-15 00:36] webpro commented on #33
This is now fixed, right? With a single page header as documented.

[2022-04-15 00:36] #33 closed

[2022-04-15 00:36] webpro commented on #37
Closing this as I think it's fixed. Feel free to open another ticket, though.

[2022-04-15 00:36] #37 closed

[2022-04-15 10:28] thet commented on #46
@webpro I can confirm, it works!
Thanks for the fix.

[2022-04-30 02:10] vonovak commented on #22
Hello @webpro, I'm wondering, has this been fixed, or do you plan to fix it?
I'd love to run release-it in CI but if it makes releases for commits that should not trigger one, it's not possible.
Thank you 🙂

[2022-04-30 12:22] webpro commented on #22
Looking into it again, I'm seeing basically all presets for recommended bump work the same. Here's the angular preset: https://github.com/conventional-changelog/conventional-changelog/blob/master/packages/conventional-changelog-angular/conventional-recommended-bump.js (this is the `whatBump` function).

It always returns value `0`, `1` or `2` for `level`, never `null` or `undefined`, always result

[2022-05-02 13:27] ivandov commented on #22
@webpro How does your example code snippet leverage `whatBump` to properly decide when to send `null` for the `level`?

Are you suggesting that the function would be extended with additional conditional logic to properly determine when to set the `null` value?

[2022-05-02 13:55] webpro commented on #22
My code example is only to indicate where the function fits in the release-it/plugin config.

So yes, additional logic is required, much like the original (linked to above).

[2022-05-30 22:36] Zamiell opened #48 "@release-it/conventional-changelog - Option for no change log"
Hello and thanks for the tool.

I am trying out `release-it`. In my monorepo, I use conventional commits, so I therefore want `release-it` to auto-increment the version based on the commit history. Thus, it seems like I need to use the `@release-it/conventional-changelog` plugin to do this. However, I don't want to generate a changelog. And it seems like this plugin *always* generates a changelog.

[2022-06-06 13:16] webpro commented on #48
Yes, that would be a good option to have. There's already `ignoreRecommendedBump`.

[2022-06-09 15:00] cravend opened #49 "Semver is not declared in dependencies"
Hi y'all!

I'm trying to use this with Yarn berry, but I'm running into an issue:

[code]

Is there any reason semver shouldn't be included in the dependencies array?

[2022-06-15 13:30] CT-AndrasSzabo opened #50 "The "hidden" property doesn't work"
The `hidden` property doesn't work for me. If I have this release-it config:
[code]
...so I have `hidden: false` everywhere, despite of that only the `Features` and `Bug Fixes` section is visible in my CHANGELOG.md. It seems, that the `hidden` property doesn't have effect at all.
The command used to generating the changelog: `release-it --ci`. My release-it config file is called `.release-it.json`

[2022-07-06 10:08] baronkoko opened #51 "npm audit issue"
- "release-it": "^15.1.1";
- "@release-it/conventional-changelog": "^5.0.0";
- npm 8.3.1

Hi, I get this message after running the `npm audit fix` command
<img width="717" alt="Screenshot 2022-07-06 at 12 55 02" src="https://user-images.githubusercontent.com/27996386/177526340-3dcb36e1-d203-4d5c-9140-5a0a7f989780.png">
Can someone help please?

[2022-07-19 17:54] rafaelmazzo commented on #51
Hi @baronkoko !
This issue is related for `release-it`, not `conventional-changelog`.
There is an opened issue on it repository. You can check for updates there:

https://github.com/release-it/release-it/issues/917

All the best!

[2022-07-20 07:26] #51 closed

[2022-07-25 07:49] mlecoq opened #52 "Build error in react-native projects"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `@release-it/conventional-changelog@5.0.0` for the project I'm working on.

On `react-native`, I have the following error while building my project

Invalid `Podfile`  unexpected token at 'Error [ERR_PACKAGE_PATH_NOT_EXPORTED]: Package subpath './package.json' is n

[2022-08-08 06:50] #41 closed

[2022-08-17 09:55] Jungho-Cheon commented on #49
same issue here.

are you using yarn berry with pnp?

[2022-08-17 10:03] webpro commented on #49
Yarn Berry is not officially supported by release-it (it uses npm not Yarn to version and publish). Things may or may not work depending on local workflow and config etc.

Feel free to open a PR with improvements, though, happy to discuss and look into it.

[2022-08-17 10:09] webpro commented on #49
Oh wait, sorry, yes `semver` should definitely be a `dependency`. Will fix this shortly!

[2022-08-17 15:36] #49 closed

[2022-08-17 15:36] #52 closed

[2022-08-17 15:36] webpro commented on #52
This is in [v5.1.0](https://github.com/release-it/conventional-changelog/releases/tag/5.1.0)

[2022-08-17 15:37] webpro commented on #49
This is in [v5.1.0](https://github.com/release-it/conventional-changelog/releases/tag/5.1.0)

[2022-08-17 15:39] webpro commented on #43
Everything is at the latest version now, so should be fixed

[2022-08-17 15:39] #43 closed

[2022-08-17 15:49] webpro commented on #50
This is probably an issue with [conventional-changelog](https://github.com/conventional-changelog/conventional-changelog/tree/master/packages/conventional-changelog), the dependency that receives this configuration and parses the commits.

The docs of this plugin link you to their docs at https://github.com/conventional-changelog/conventional-changelog-config-spec/blob/master/versions/2.1.0/README

[2022-09-01 20:32] matatk commented on #33
Hi @webpro. I'm still experiencing this problem, with the current version 5.1.0 of this plugin (and version 15.4.1 of release-it). I've tried setting `header` to both "Changelog" and "# Changelog" but neither appears at the top of the file.

[2022-09-02 21:05] pedrosodre commented on #48
Is that already possible? Also, can we ignore the changelog for a specific execution with a cli option (like `--no-changelog`)?

[2022-09-06 08:11] tilowestermann opened #54 "conventionalcommits types use same heading level as new version"
When generating the changelog with the `conventionalcommits` preset, the generated changelog will look like this:

[code]

I would expect the heading level of the new version to be 2 (`## [1.0.1] ...`)

[2022-09-06 08:12] tilowestermann opened #55 "angular preset ignores Url formats"
When generating the changelog with the angular preset, it ignores `compareUrlFormat` and `commitUrlFormat` presets and instead uses the default format

[2022-09-10 10:05] webpro commented on #54
Thanks for raising this, @tilowestermann. I now understand better what's happening here. This release-it plugin does not touch the header (level). It is now clear to me that conventional-changelog uses the **first** `#` heading level for minor and major releases, and the **second** `##` level for patch releases. It isn't very obvious, but the examples show this at https://github.com/conventional-c

[2022-09-12 08:53] tilowestermann commented on #54
Hey @webpro , thanks for your reply. I've set up a repository demonstrating the issue: https://github.com/tilowestermann/release-it-conventional-changelog/commits/main

By doing this, I noticed that the first release (1.1.0) including a single feature commit set the levels correctly, while the second one (1.1.0) including a single fix commit does not

[2022-09-12 09:54] webpro commented on #54
Please understand release-it doesn't touch these results. They're generated by `conventional-changelog`, the dependency that powers this plugin. And maybe it's the `conventionalcommits` preset that handles things differently, as this plugin uses `angular` in the tests (which seems to behave as I described).

[2022-09-30 12:52] nbouvrette opened #56 "Chagelog format conflicts with Prettier"
I'm having issues where `conventional-changelog` adds extra space in the markdown file and when I run a build command before a release, Prettier modifies this file and I end up being unable to do the release:

[code]

I was thinking of adding the following hook in `release-it.json` to fix it but I don't know if this is the best solution?

[code]

I'm not even sure the syntax is correct?

[2022-10-02 16:24] matatk commented on #54
[`conventional-changelog-conventionalcommits` v5.0.0 fixed this problem](https://github.com/conventional-changelog/conventional-changelog/releases/tag/conventional-changelog-conventionalcommits-v5.0.0), but there has not yet been a release of `conventional-changelog` that depends on `conventional-changelog-conventionalcommits` v5.0.0, which this plugin could use. I filed an [issue to request a new

[2022-10-03 10:31] matatk commented on #50
AFAIK the angular preset is hard coded to only render feat and fix commits. Have you tried the conventionalvommits preset?

[2022-10-04 05:49] webpro commented on #56
You may need the `git.requireCleanWorkingDir: false` option so this change can be part of the release commit depending on your situation/configuration.

I understand the confusion about the hook names, but the hooks you mention don't exist. Here some examples of hooks that should work:

* `before:init`
* `before:git:init`
* `before:bump`
* `after:bump`
* `after:@release-it/conventional-changelog:b

[2022-10-04 13:56] nbouvrette commented on #56
Thanks @webpro

I tried both with `--verbose` and the command now runs but:

- `after:@release-it/conventional-changelog:bump`: looks like it's happening before the plugin writes the changelog? Is this normal? Logs below:

[code]

- `before:@release-it/conventional-changelog:release`: It seems to be done after the changelog is committed to git, so basically I am left with a changed file uncommitte

[2022-10-04 14:07] webpro commented on #56
(Looking at https://github.com/release-it/conventional-changelog/blob/master/index.js#L164 and https://github.com/release-it/release-it/blob/master/lib/plugin/git/Git.js#L84,) either of these should work:

- `after:@release-it/conventional-changelog:beforeRelease`
- `before:git:beforeRelease`

What can I say, it's a bit of fiddling to get it right sometimes. Totally my bad, it should be documented

[2022-10-04 14:14] nbouvrette commented on #56
Wonderful, `after:@release-it/conventional-changelog:beforeRelease` did the trick.

I tried to follow the documentation (not the source code hehe) as best as I could but having some sort of examples could help for sure. I think this one could be a good common case to document as many people use Prettier.

Thanks for your help!

[2022-10-04 14:14] #56 closed

[2022-10-06 19:46] fsmaia commented on #48
This would be amazing!

[2022-10-08 09:16] webpro commented on #48
Could somebody using this plugin please try to set `"infile": false`?

I just added a test for and seems to work as intended (40869a157ed33dfb9e31ccd53bc3415fa5e3a7b5).

[2022-10-16 14:34] joakimglaving opened #57 "Full history not being added without infile"
In the readme it says that `Set a filename as infile to write the changelog to. If this file does not exist yet, it's created with the full history.` However for me that does not happen. I'm not sure if I'm doing something wrong.

After running the release-it command, I can see in the log that the changelog file is created:

[code]
However I'm only getting the changelog since the latest tag, not t

[2022-10-18 11:35] fsmaia commented on #48
It indeed works.

In my use case scenario, I want to skip the changelog for pre-releases. To achieve that, I would have to run a bash script that modifies the config file dynamically within my CI and then ignores this file in git so the working directory would be clean before triggering release-it, which seems to be hacky.

That's why a CLI flag would be handy!

I can help with coding if you will.

[2022-10-18 11:55] fsmaia commented on #48
I figured out that the `release-it`'s CLI-to-config behavior covers it:
[code]